body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #8b8b8b;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.titulo, .titulo-editar { 
    text-align: center; 
    color: #2c3e50; 
}

.perfiles {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.tarjeta-perfil {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.tarjeta-perfil img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #3498db;
}

.formulario {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

.campo { 
    margin-bottom: 15px; 
}

.campo label { 
    display: block; 
    font-weight: bold; 
}

.campo input, .campo textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #333;
}

.boton-enviar, .boton {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    min-width: 140px; 
    text-align: center;
    font-family: inherit; 
    font-size: 14px;
    transition: background 0.3s;
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #333;
}

.boton_2 {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.boton:hover { 
    background-color: #2980b9; 
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th { 
    background-color: #2c3e50; 
    color: white; 
    text-align: center;
}


#reporte-python {
    background-color: #2c3e50; 
    color: #ecf0f1;           
    padding: 20px;
    border-radius: 8px;
    border-left: 5px solid #3498db; 
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#reporte-python pre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 16px;
    margin: 0;
    white-space: pre-wrap; 
    letter-spacing: 0.5px; 
}